//dependencies
@use "variables" as vars;
@use "mixins" as *;
@use "fonts" as fonts;

body {
  background-color: vars.$white;
  color: vars.$black;
  text-align: center;
  font-family: vars.$font-text;
  font-weight: bold;
  margin: auto;
}

.rabbit-ear {
  margin-top: 40px;
  width: 100px;
  @include respondMin(vars.$breakpoints-tablet) {
    width: 150px;
  }
  @include respondMin(vars.$breakpoints-desktop) {
    width: 300px;
  }
}

h1 {
  font-size: 20px;
  margin: 20px 10px 0 10px;
  @include respondMin(vars.$breakpoints-tablet) {
    font-size: 30px;
    margin: 20px 0;
  }
  @include respondMin(vars.$breakpoints-laptop) {
    font-size: 50px;
  }
  @include respondMin(vars.$breakpoints-desktop) {
    font-size: 55px;
  }
}

p {
  margin: 5px;
}

.num {
  grid-column: 1/2;
}
.date {
  grid-column: 2/3;
}
#days,
.D {
  grid-row: 1/2;
}

#hours,
.H {
  grid-row: 2/3;
}

#min,
.M {
  grid-row: 3/4;
}

#sec,
.S {
  grid-row: 4/5;
}

.wrapper-primary {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  justify-content: center;
  grid-gap: 1rem;
  padding: 20px 30px;

  @include respondMin(vars.$breakpoints-tablet) {
    grid-template-columns: repeat(4, 110px);
  }

  @include respondMin(vars.$breakpoints-laptop) {
    grid-template-columns: repeat(4, 180px);
  }
}

.num {
  font-family: vars.$font-count-number;
  font-size: 40px;
  margin: 0;
  @include respondMin(vars.$breakpoints-tablet) {
    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(3) {
      border-right-style: solid;
      border-color: vars.$light-gray;
      border-width: 2px;
    }
  }
  @include respondMin(vars.$breakpoints-laptop) {
    font-size: 60px;
  }
  @include respondMin(vars.$breakpoints-desktop) {
    font-size: 70px;
  }
}

.date {
  font-size: 15px;
  margin: auto 0;
  @include respondMin(vars.$breakpoints-tablet) {
    font-size: 20px;
    margin: 0;
  }
  @include respondMin(vars.$breakpoints-laptop) {
    font-size: 40px;
  }
}

#background {
  height: 470px;
}

@include respondMin(vars.$breakpoints-tablet) {
  .num,
  .date,
  #days,
  #hours,
  #min,
  #sec,
  .D,
  .H,
  .M,
  .S {
    grid-row: unset;
    grid-column: unset;
  }
}
