//dependencies
@use "variables" as vars;
@use "mixins" as *;
@use "fonts" as fonts;

body {
  background-color: vars.$white;
  color: vars.$black;
  text-align: center;
  font-family: vars.$font-text;
  font-weight: bold;
  margin: auto;
}

.rabbit-ear {
  margin-top: 40px;
  width: 100px;
  @include respondMin(vars.$breakpoints-tablet) {
    width: 150px;
  }
  @include respondMin(vars.$breakpoints-desktop) {
    width: 300px;
  }
}

h1 {
  font-size: 20px;
  margin: 20px 10px 0 10px;
  @include respondMin(vars.$breakpoints-tablet) {
    font-size: 30px;
    margin: 20px 0;
  }
  @include respondMin(vars.$breakpoints-laptop) {
    font-size: 50px;
  }
  @include respondMin(vars.$breakpoints-desktop) {
    font-size: 55px;
  }
}

p {
  margin: 5px;
}

.num {
  grid-column: 1/2;
}
.date {
  grid-column: 2/3;
}
#days,
.D {
  grid-row: 1/2;
}

#hours,
.H {
  grid-row: 2/3;
}

#min,
.M {
  grid-row: 3/4;
}

#sec,
.S {
  grid-row: 4/5;
}

.wrapper-primary {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  justify-content: center;
  grid-gap: 1rem;
  padding: 20px 30px;

  @include respondMin(vars.$breakpoints-tablet) {
    grid-template-columns: repeat(4, 110px);
  }

  @include respondMin(vars.$breakpoints-laptop) {
    grid-template-columns: repeat(4, 180px);
  }
}

.num {
  font-family: vars.$font-count-number;
  font-size: 40px;
  margin: 0;
  @include respondMin(vars.$breakpoints-tablet) {
    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(3) {
      border-right-style: solid;
      border-color: vars.$light-gray;
      border-width: 2px;
    }
  }
  @include respondMin(vars.$breakpoints-laptop) {
    font-size: 60px;
  }
  @include respondMin(vars.$breakpoints-desktop) {
    font-size: 70px;
  }
}

.date {
  font-size: 15px;
  margin: auto 0;
  @include respondMin(vars.$breakpoints-tablet) {
    font-size: 20px;
    margin: 0;
  }
  @include respondMin(vars.$breakpoints-laptop) {
    font-size: 30px;
  }
}

#background {
  height: 470px;
  display: none;
  #release {
    margin: 0;
  }
}

#fireworkframe {
  position: relative;
  display: none;
}

.firework {
  position: absolute;
}

.explosion {
  position: absolute;
  left: -2px;
  bottom: 0;
  width: 4px;
  height: 80px;
  transform-origin: 50% 100%;
  overflow: hidden;
}

.explosion:nth-child(1) {
  transform: rotate(0deg) translateY(-15px);
}
.explosion:nth-child(2) {
  transform: rotate(30deg) translateY(-15px);
}
.explosion:nth-child(3) {
  transform: rotate(60deg) translateY(-15px);
}
.explosion:nth-child(4) {
  transform: rotate(90deg) translateY(-15px);
}
.explosion:nth-child(5) {
  transform: rotate(120deg) translateY(-15px);
}
.explosion:nth-child(6) {
  transform: rotate(150deg) translateY(-15px);
}
.explosion:nth-child(7) {
  transform: rotate(180deg) translateY(-15px);
}
.explosion:nth-child(8) {
  transform: rotate(210deg) translateY(-15px);
}
.explosion:nth-child(9) {
  transform: rotate(240deg) translateY(-15px);
}
.explosion:nth-child(10) {
  transform: rotate(270deg) translateY(-15px);
}
.explosion:nth-child(11) {
  transform: rotate(300deg) translateY(-15px);
}
.explosion:nth-child(12) {
  transform: rotate(330deg) translateY(-15px);
}

.explosion::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 40px;
  background-color: #f5cf52;
  animation: explosion 2s ease-in-out infinite;
}

@keyframes explosion {
  0% {
    top: 100%;
  }
  33%,
  100% {
    top: -50%;
  }
}

#firework1 {
  left: 50%;
  top: 50%;
  transform: scale(1);
}
#firework1 .explosion::before {
  animation: explosion 2s ease-in-out infinite;
}

#firework2 {
  left: 40%;
  top: 45%;
  transform: scale(0.7);
}
#firework2 .explosion::before {
  animation: explosion 2s 0.6s ease-in-out infinite;
}

#firework3 {
  left: 60%;
  top: 65%;
  transform: scale(0.4);
}
#firework3 .explosion::before {
  animation: explosion 2s 0.4s ease-in-out infinite;
}

@include respondMin(vars.$breakpoints-tablet) {
  .num,
  .date,
  #days,
  #hours,
  #min,
  #sec,
  .D,
  .H,
  .M,
  .S {
    grid-row: unset;
    grid-column: unset;
  }
}
