//breakpoints
$breakpoints-tablet: 576px;
$breakpoints-laptop: 992px;
$breakpoints-desktop: 1400px;

//font-family
$font-text: "Aboreto";
$font-count-number: "Aldrich";

//color
$white: white;
$black: black;
$light-gray: rgb(231, 231, 231);
